@font-face {
    font-family: 'Cocogoose-Pro-Light-trial';
    src: url('../bunyan-tech/src/fonts/Cocogoose-Pro-Light-trial.ttf') format('truetype');
}

.custom-text {
    font-family: 'Cocogoose-Pro-Light-trial', sans-serif;
}